In [65]:
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [66]:
# import the datasets
bankdata = pd.read_csv('UniversalBank.csv')
bankdata.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [67]:
bankdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [68]:
bankdata.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [69]:
def fixExperience(value):
    if value<0:
        return 0
    else:
        return value
bankdata['Experience']=bankdata.apply(lambda row:fixExperience(row['Experience']), axis=1)

In [70]:
bankdata.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.119600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.440484,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,0.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [71]:
# Let's drop the Zip code and make ID as index
bankdata.drop(['ZIP Code'], axis=1, inplace=True)

In [72]:
bankdata.set_index('ID', inplace=True)
bankdata.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,,,,,,,,,,,,
1,25,1.0,49,4,1.6,1,0,0,1,0,0,0
2,45,19.0,34,3,1.5,1,0,0,1,0,0,0
3,39,15.0,11,1,1.0,1,0,0,0,0,0,0
4,35,9.0,100,1,2.7,2,0,0,0,0,0,0
5,35,8.0,45,4,1.0,2,0,0,0,0,0,1

In [73]:
bankdata.tail()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,,,,,,,,,,,,
4996,29,3.0,40,1,1.9,3,0,0,0,0,1,0
4997,30,4.0,15,4,0.4,1,85,0,0,0,1,0
4998,63,39.0,24,2,0.3,3,0,0,0,0,0,0
4999,65,40.0,49,3,0.5,2,0,0,0,0,1,0
5000,28,4.0,83,3,0.8,1,0,0,0,0,1,1

In [74]:
bankdata = pd.get_dummies(bankdata, columns=['Education'], drop_first=True)
bankdata.head()

,Age,Experience,Income,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_2,Education_3
ID,,,,,,,,,,,,,
1,25,1.0,49,4,1.6,0,0,1,0,0,0,0,0
2,45,19.0,34,3,1.5,0,0,1,0,0,0,0,0
3,39,15.0,11,1,1.0,0,0,0,0,0,0,0,0
4,35,9.0,100,1,2.7,0,0,0,0,0,0,1,0
5,35,8.0,45,4,1.0,0,0,0,0,0,1,1,0

In [75]:
bankdata.rename(columns={'Education_2':'GradDeg', 'Education_3':'AdvDeg'}, inplace=True)
bankdata.head()

,Age,Experience,Income,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,GradDeg,AdvDeg
ID,,,,,,,,,,,,,
1,25,1.0,49,4,1.6,0,0,1,0,0,0,0,0
2,45,19.0,34,3,1.5,0,0,1,0,0,0,0,0
3,39,15.0,11,1,1.0,0,0,0,0,0,0,0,0
4,35,9.0,100,1,2.7,0,0,0,0,0,0,1,0
5,35,8.0,45,4,1.0,0,0,0,0,0,1,1,0

In [76]:
from sklearn.model_selection import train_test_split
x_vars = bankdata.drop('Personal Loan', axis=1)
y_vars=bankdata['Personal Loan']

In [77]:
xTrain, xValid, yTrain, yValid=train_test_split(x_vars, y_vars, test_size=0.25, random_state=42)

In [78]:
from sklearn.linear_model import LogisticRegression
LogitModel = LogisticRegression()
LogitModel.fit(xTrain, yTrain)

LogisticRegression()

In [79]:
from sklearn.metrics import accuracy_score, confusion_matrix
y_pred= LogitModel.predict(xValid)

In [80]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [81]:
accuracy_score(yValid, y_pred)

0.96

In [94]:
from sklearn.metrics import confusion_matrix
confusion_matrix(yValid, y_pred)

array([[1107,    9],
       [  41,   93]], dtype=int64)